table.custom {
  border: 1px solid #6cf;
  width: 50%;
  margin: auto;
}

th.custom {
  font-weight: normal;
  font-size: 13px;
  color: #039;
  text-transform: uppercase;
  border-right: 1px solid #0865c2;
    border-top: 1px solid #0865c2;
    border-left: 1px solid #0865c2;
    border-bottom: 1px solid white;
  padding: 20px;
}
td {
  color: #669;
  border-right: 1px dashed #6cf;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

.pag {
width: 70%;
margin: auto;
}